@font-face {
    font-family: 'Bicubik';
    src: url(../src/fonts/Bicubik.OTF);
}
@font-face {
    font-family: 'Roboto';
    src: url(../src/fonts/roboto/Roboto-Regular.ttf);
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
    background: #222;
    color: #fff;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    height: 100vh;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background: #111;
    text-align: center;
}
.header-title{
    font-family: 'Bicubik';
    font-size: 30pt;
    user-select: none;
}

/* ---SIGNIN--- */
.auth-form{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{  /* .auth-input{  */
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    background: #222;
    color: #fff;
}
.auth-input:focus{
    background: #333;
}
.auth-error{
    display: none;
    border: 1px solid red;
    border-radius: 5px;
    padding: 3px;
    margin-top: 5px;
    color: red;
    font-size: medium;
}
button{
    margin: 10px;
    padding: 7px 40px;
    border-radius: 5px;
    border: 1px solid #fff;
    background: #222;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}
button:hover{
    background: #444;
}
/* -------------------- */

/* ------SIDEBAR------- */
.menu-btn{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after{
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #222;
}
.menu-btn span::before,
.menu-btn span::after{
    content: '';
    transition: 0.2s;
}
.menu-btn span::before{
    transform: translateY(5px);
}
.menu-btn span::after{
    transform: translateY(-5px);
}
.menu-btn_active span:before{
    transform: rotate(35deg);
    width: 10px;
    transform-origin: left bottom;
}
.menu-btn_active span:after{
    transform: rotate(-35deg);
    width: 10px;
    transform-origin: left top;
}
.sidebar-menu{
    display: flex;
    position: fixed;
    right: 0;
    overflow: hidden;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.menu-function{
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 40px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-right: -25px;
}
.menu-function_link{
    display: inline-block;
    text-decoration: none;
    color: #222;
    margin-right: 10px;
}
.menu-function{
    transition: 0.2s;
    transform-origin: right center;
    transform: translateX(100%);
    opacity: 0;
}
.menu-function_active{
    transform: translateX(0%);
    opacity: 1;
}
/* -------------------- */

/* -----TICKET FORM---- */
.ticket-form{
    display: flex;
    flex-direction: column;
}
.ticket-content{
    font-size: 14pt;
    width: 700px;
    height: 300px;
    overflow: auto;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    background: #222;
    color: #fff;
    resize: none;
}
.ticket-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ticket-priority{
    width: 170px;
    height: 31px;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    background: #222;
    color: #fff;
}
/* -------------------- */

/* ------MyTicket------ */
.mytickets{
    width: 770px;
}
.mytickets li{
    list-style-type: none;
}
.ticket{
    display: grid;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 10px 15px;
    margin-bottom: 10px;
}
.ticket-header{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 5px;
}
.ticket-number a{
    color: #fff;
}
.ticket-status{
    display: grid;
    justify-items: end;
}
.ticket-main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 5px;
}
.ticket-txt{
    background-color: #222;
    color: #fff;
    width: 570px;
    height: 50px;
    resize: none;
}
.ticket-prt{
    display: grid;
    justify-items: center;
}
.ticket-solve{
    display: grid;
    grid-template-columns: 1.3fr 1.3fr 1.3fr;
    padding: 5px;
}

.status-inProgress{
    display: block;
    color: #EBE752;
}
.status-end{
    display: block;
    color: #5BEB52;
}

.ticket-txt::-webkit-scrollbar{
    width: 5px;
}
.ticket-txt::-webkit-scrollbar-track{
    background-color: #fff;
}
.ticket-txt::-webkit-scrollbar-thumb{
    background-color: #222;
    width: 3px;
    border: 1px solid #fff;
}
/* -------------------- */

/* -------Ticket------- */
.ticket-wrap{
    width: 100%;
}
.ticket-info{
    width: 100%;
    height: 350px;
    border: 1px solid #fff;
    border-radius: 5px;
}
.ticket-dialog{
    display: none;
    position: relative;
    width: 400px;
    height: 200px;
    border: 1px solid #fff;
    border-radius: 10px;
}
.dialog-history{
    border: 1px solid #fff;
    border-radius: 10px;
}
.dialog-newmsg{
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #fff;
}
.submit-btn{
    display: block;
    position: relative;
    width: 35px;
    height: 35px;
}
.submit-btn span{

}
/* .submit-btn span, */
.submit-btn::before,
.submit-btn::after{
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -7.5px;
    width: 15px;
    height: 2px;
    background-color: #fff;
}
.submit-btn::before,
.submit-btn::after{
    content: '';
}
.submit-btn::before{
    transform: translateY(-2.5px) rotate(20deg);
    /* transform: rotate(35deg); */
}
.submit-btn::after{
    transform: translateY(2.5px) rotate(-20deg);
    /* transform: rotate(-35deg); */
}


.newmsg-txt{
    /* width: 90%; */
}
#message-txt{
    /* width: 95%; */
}










/*button:hover{
    background: #444;
}
.active{
    background: #666;
} */